/**
 * jnImageroll
 */

#jnImageroll {
    float: left;
    position: relative;

    width: 550px;
    height: 321px;

    margin-right: 11px;
}

#jnImageroll img {
    position: absolute;
}

#jnImageroll div {
    position: absolute;
    bottom: 0;
}

#jnImageroll div a {
    float: left;

    width: 79px;
    height: 36px;

    margin-right: 1px;
    padding: 5px 15px;

    color: #fff;
    text-align: center;
    text-decoration: none;

    background: #444;
}

#jnImageroll div span {
    display: block;

    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

#jnImageroll .chos {
    background: url(../images/adindex.gif) no-repeat center 43px #37a7d7;
}

/**
 * jnNotice
 */

#jnNotice {
    float: left;

    width: 230px;
    height: 321px;
}

#jnMiaosha {
    height: 176px;

    margin-bottom: 10px;
}

.JS_css3 img {
    transition: 1s all;
}

.JS_css3:hover img {
    transform: rotate(720deg);
}

#jnNoticeInfo {
    height: 133px;

    border: 1px solid #dfdfdf;
}
