/**
 * jnImageroll
 */

#jnImageroll {
    float: left;
    position: relative;

    width: 550px;
    height: 321px;

    margin-right: 11px;
}

#jnImageroll img {
    position: absolute;
}

#jnImageroll div {
    position: absolute;
    bottom: 0;
}

#jnImageroll div a {
    float: left;

    width: 79px;
    height: 36px;

    margin-right: 1px;
    padding: 5px 15px;

    color: #fff;
    text-align: center;
    text-decoration: none;

    background: #444;
}

#jnImageroll div span {
    display: block;

    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

#jnImageroll .chos {
    background: url(../images/adindex.gif) no-repeat center 43px #37a7d7;
}

/**
 * jnNotice
 */

#jnNotice {
    float: left;

    width: 230px;
    height: 321px;
}

#jnMiaosha {
    height: 176px;

    margin-bottom: 10px;
}

.JS_css3 img {
    transition: 1s all;
}

.JS_css3:hover img {
    transform: rotate(720deg);
}

#jnNoticeInfo {
    height: 133px;

    border: 1px solid #dfdfdf;
}

#jnNoticeInfo h2 {
    margin: 0;
    border-bottom: 1px solid #dfdfdf;

    font-size: inherit;
    line-height: 23px;
    text-indent: 12px;
}

#jnNoticeInfo ul {
    padding: 6px 2px 0 12px;

    line-height: 20px;
}

#jnNoticeInfo a {
    color: #666;
    text-decoration: none;
}

#jnNoticeInfo a:hover {
    color: #008cd7;
}

#tooltip {
    display: none;

    position: absolute;

    border: 1px solid #333;
    padding: 1px;

    color: #333;

    background: #f7f5d1;
}

/**
 * jnBrand
 */

#jnBrand {
    float: left;

    width: 790px;
    height: 230px;

    margin-top: 10px;
}

#jnBrandTab {
    position: relative;

    height: 29px;

    border-bottom: 1px solid #e4e4e4;
}

#jnBrandTab h2 {
    position: absolute;

    width: 100px;

    margin: 0;

    font-size: inherit;
    line-height: 29px;
}

#jnBrandTab ul {
    position: absolute;
    top: 10px;
    right: 0;
}

#jnBrandTab li {
    float: left;

    margin-right: 10px;
}

#jnBrandTab a {
    display: block;

    padding: 0 10px;

    color: #000;
    line-height: 20px;
    text-decoration: none;

    background: #e4e4e4;
}

#jnBrandTab a:hover {
    text-decoration: underline;
}

#jnBrandTab .chos {
    padding-bottom: 3px;

    background: url(../images/chos.gif) no-repeat center bottom;
}

#jnBrandTab .chos a {
    background-color: #fa5889;

    color: #fff;
}

#jnBrandContent {
    position: relative;
    overflow: hidden;

    width: 780px;
    height: 188px;

    margin: 6px 5px;
}

#jnBrandList {
    position: absolute;
    top: 0;
    left: 0;

    width: 3200px;
}

#jnBrandContent li {
    float: left;
    position: relative;

    width: 183px;
    height: 188px;

    padding: 0 6px;
}

#jnBrandContent a + span {
    position: absolute;
    bottom: 0;

    width: 183px;

    color: #666;
    font-size: 14px;
    line-height: 24px;
    text-align: center;

    background-color: #efefef;
}


#jnBrandContent span a {
    color: #666;
    text-decoration: none;
}

#jnBrandContent span a:hover {
    color: #008cd7;
}

.imageOver {
    background: url(../images/zoom.gif) #efefef no-repeat center center;
    opacity: 0.6;
}
