body {
    margin: 0;

    font: 12px/1.5 "Microsoft YaHei", sans-serif;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

dl,
dd {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    display: table;

    clear: both;

    content: ' ';
}

/**
 * 头部样式
 */

#header {
    height: 105px;

    background: url("../images/headerbg.png") repeat-x;
}

#header .contWidth {
    position: relative;

    width: 990px;
    height: 105px;

    margin: 0 auto;
}

#header .logo {
    margin-left: 10px;
}

#header .search {
    position: absolute;
    top: 20px;
    left: 198px;
}

#inputSearch {
    width: 200px;

    border: 1px solid #babebf;
    padding: 3px 6px 5px;

    color: #999;
    font-size: 14px;

    outline: none;
}

#inputSearch:focus {
    border: 1px solid #00a5ff;
}

#skin {
    float: right;

    width: 120px;

    margin: 10px;
    padding: 4px;
}

#skin li {
    float: left;
    overflow: hidden;

    width: 15px;
    height: 15px;

    margin-right: 4px;

    text-indent: -9999px;

    background-image: url("../images/theme.gif");

    cursor: pointer;
}

#skin_0 {
    background-position: 0 0;
}

#skin_1 {
    background-position: 15px 0;
}

#skin_2 {
    background-position: 35px 0;
}

#skin_3 {
    background-position: 55px 0;
}

#skin_4 {
    background-position: 75px 0;
}

#skin_5 {
    background-position: 95px 0;
}

#skin_0.selected {
    background-position: 0 15px;
}

#skin_1.selected {
    background-position: 15px 15px;
}

#skin_2.selected {
    background-position: 35px 15px;
}

#skin_3.selected {
    background-position: 55px 15px;
}

#skin_4.selected {
    background-position: 75px 15px;
}

#skin_5.selected {
    background-position: 95px 15px;
}

.mainNav {
    position: absolute;
    bottom: 0;

    width: 100%;

    line-height: 37px;

    background: #4a4a4a;
}

.mainNav .nav {
    margin-left: 25px;
}

.mainNav ul li {
    float: left;

    margin-right: 14px;
}

.nav-link {
    display: block;

    padding: 0 8px;

    font-weight: bold;
    color: #fff;
    font-size: 14px;
}

.mainNav ul li a {
    text-decoration: none;
}

.mainNav ul li a:hover {
    text-decoration: underline;
}

.jnNav {
    display: none;

    position: absolute;
    z-index: 1;

    width: 450px;

    border: 1px solid #b1b1b1;
    border-top: none;
    padding: 10px 12px;

    background: #fff;
}

.jnNav dl {
    padding: 8px 0;
}

.jnNav dl:nth-child(1) {
    padding-top: 0;
}

.jnNav dl:nth-child(2) {
    border-top: 1px dashed #c4c4c4;
}

.jnNav dt,
.jnNav dd {
    float: left;
}

.jnNav dt {
    width: 84px;

    padding: 4px 3px;

    line-height: 16px;
    text-align: center;
}

.jnNav dt a {
    color: #000;
    font-weight: bold;
}

.jnNav dd {
    width: 360px;
}

.jnNav dd em {
    float: left;

    margin: 5px 0;
    border-right: 1px solid #ccc;
    padding: 0 8px;

    font-style: normal;
    line-height: 14px;
}

.jnNav dd a {
    color: #666;
}

/* TODO: position top 100% 貌似更好维护，看看 mdn 百分值是怎么求的 */

/**
 * 主体样式
 */

#content {
    width: 990px;
    height: 560px;

    margin: 0 auto;
    padding: 10px 0;
}

/**
 * 主体样式之商品分类样式
 */

#jnCatelog {
    float: left;

    width: 187px;
    height: 560px;

    margin: 0 11px 0 0;
}

#jnCatelog h2 {
    margin: 0;

    color: #fff;
    font-size: 12px;
    line-height: 30px;
    text-indent: 13px;

    background: #6e6e6e;
}

.jnCateinfo {
    width: 165px;
    height: 524px;

    border: 1px solid #6e6e6e;
    border-top: none;
    padding: 5px 10px 0;
}

.jnCateinfo h3 {
    margin: 0;
    border-bottom: 1px solid #eee;

    font-size: 100%;
    line-height: 24px;
}

.jnCateinfo ul {
    padding: 0 2px 8px;
}

.jnCateinfo li {
    float: left;
    position: relative;

    width: 79px;

    line-height: 24px;
}

.jnCateinfo a {
    color: #444;
    text-decoration: none;
}

.jnCateinfo a:hover {
    color: #008cd7;
}

.jnCateinfo a.promoted {

}

.jnCateinfo .hot {

}

/**
 * 底部样式
 */

#footer {
    width: 990px;

    margin: 0 auto;
    padding: 18px 0;

    color: #666;
    text-align: center;

    /* for test */
    background: #b438c3;
}
